if TARGET_TSMFLOW

config SYS_BOARD
       default "tsmflow"

config SYS_VENDOR
       default "technologic"

config SYS_SOC
       default "mx6"

config SYS_CONFIG_NAME
       default "tsmflow"

endif
